@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	min-height: 100vh;
	min-width: 100vw;
}

.message {
	background: #f7f7f7;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1vmin;
	padding-top: 1vmin;
	margin-top: 6vmin;
	color: #337;
	font-size: 2.7vmin;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 7vmin;
	width: 30vw;
}

.login-container {
	/*min-height: 40vmin;*/
	padding-top: 3vmin;
	padding-bottom: 3vmin;
	width: 30vw;
	background: #fff;
	box-shadow: 0 1vmin 1vmin 1vmin #3331;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container .icon {
	width: 10vmin;
	height: 10vmin;
}

.login-container .icon img {
	height: 100%;
	width: 100%;
}

.login-container p.head {
	font-family: "Open Sans";
	font-size: 2.8vmin;
	font-weight: bold;
	color: #444;
}

.login-container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100%;
}

.login-container form input {
	width: 60%;
	margin-top: 1vmin;
	padding: 0;
	margin-left: 20%;
	height: 6vmin;
	background: #eee;
	border: none;
	outline: none;
	text-indent: 1vmin;
	color: #333;
	font-family: "Open Sans";
	padding: 0;
	font-size: 2.5vmin;
}

.login-container form input[type=submit] {
	background: #232323;
	color: #fff;
	font-family: "Open Sans";
	font-size: 3.2vmin;
	font-weight: bold;	
}

.login-container form input[type=submit]:hover {
	border-radius: 1vmin;
}

.login-container form input::placeholder {
	text-indent: 1vmin;
	color: #333;
	font-family: "Open Sans";
} 


@media (orientation: portrait) {
	.login-container {
		width: 90vw;
		padding-top: 6vmin;
		padding-bottom: 6vmin;
	}

	.login-container p.head {
		font-size: 3.4vmin;
	}

	.login-container form input {
		height: 9vmin;
		margin-top: 2.5vmin;
		font-size: 3.3vmin;
		width: 90%;
		margin-left: 5%;
	}

	.message {
		font-size: 3vmin;
		width: 90vw;
	}
}